html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
}

/* section{
    border:solid black 1px;
} */
nav{
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-top: 10px;
    margin-left: 20px;
    height: 150px;
    width: 150px;
}
ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 500px;
    font-size: 30px;
}

ul.show{
    display: block;

}
li{
    width: 200px;
    text-decoration: none;
}
.hamburger{
   display: none;
}
@media only screen and (max-width: 1024px){
    .hamburger{
        display: block;
        border: 0px;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 30px;
        align-self: flex-end;
    }
    ul{
        display: none;
        margin: 0px;
    }
    nav{
        display: flex;
        flex-direction: column-reverse;
    }
    .logo{
        display: none;
    }
}
.hero{
    background-color: black;
    height: 20vh;
    font-size: 40px;
    color: white;
    align-items: center;
}
.hero-area{
    height: 80vh;
    font-size: 30px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-title{
    margin-top: 0px;
    margin-left: 30px;
    margin-bottom: 0px;
    font-size: 70px;
}
/*blink effect on name title*/
.blink{
    animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


/*Class for the text below name*/
.hero-p{
    animation-delay: 5s;
    margin-top: 0px;
    margin-left: 30px;
    margin-bottom: 30px;
    font-size: 30px;
}
.animation{
    text-transform: capitalize;
    animation:type 1s steps(21);
    white-space: nowrap;
    overflow:hidden;
}
@keyframes type {
    0%{ width: 0ch;}
    100%{ width: 22ch;}
}
.animation2{
    text-transform: capitalize;
    animation-delay: 1000ms;
    animation:type2 2s steps(22);
    white-space: nowrap;
    overflow:hidden;
}
@keyframes type2 {
    0%{ width: 0ch;}
    50%{width: 0ch;}
    100%{ width: 22ch;}
}
/* Class for all social icons*/
.socials{
    padding-right: 50px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    margin: 30px;
}
/* Class for icons individually */
.social{
    margin: 20px;
}
.icons{
    height: 80px;
    margin-bottom: 40px;
}
.button {
    width: 150px;
    height: 30px;
    margin-left: 30px;
    background-color: green;
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
}
.button:hover{
    background-color: white;
    color: green;
}
.section2{
    height: 600px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    border:solid black 1px;
}
h2{
    font-size: 50px;
    padding-left: 30px;
}
.information{
    font-size: 30px;
    padding-left: 30px;
}
.avatar-container{
    display: flex;
    align-items: center;
}
.avatar{
    border-radius: 150px;
    border: solid black;
    height: 260px;
    width: 250px;
    margin-right: 100px;
}
.projects{
    display: flex;
    flex-direction: column;
    text-align: center; 
    margin-bottom: 50px;
}
.project-container{
    display: flex;
    justify-content: space-around; 
}
.project-card{
    height: 500px;
    width: 400px;
    box-shadow: 5px 5px 20px rgb(177, 177, 177);
}
footer{
    height: 200px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}
.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    color: green;
    bottom: 40px;
    right: 50px;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 50px;
}
a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 1024px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}